<body>

<style>
  .tg  
  {border-collapse:collapse;
  border-spacing:0;}
  
  .tg td {
  font-family:'Times New Roman', Times, serif;
  font-size:14px;
  column-width: 12px;
  line-height: 0.6;
  padding:8px 6px 6px 6px;
  border-style:solid;
  border-width:2px;
  overflow:hidden;
  word-break:normal;
  border-color:black;
  }
  
  .tg th {
  font-family:'Times New Roman', Times, serif;
  font-size:14px;
  color: white;
  column-width: 12px;
  line-height: 0.6;
  padding:8px 6px 6px 6px;
  border-style:solid;
  border-width:2px;
  overflow:hidden;
  word-break:normal;
  background-color: green;
  border-color:white;
  }
  
  .tg .tg-s268
  {text-align:center}
  
  .tg .col-format {
  font-family:'Times New Roman', Times, serif;
  font-size:14px;
  font-weight:normal;
  color: white;
  column-width: 12px;
  line-height: 0.6;
  padding:8px 6px 6px 6px;
  border-style:solid;
  border-width:2px;
  overflow:hidden;
  word-break:normal;
  background-color: green;
  border-color:white;
  text-align:center;
  vertical-align:center;
}

  .tg .square {
  background-color: rgb(169, 169, 150);
  border: 2px solid #000000;
  padding:8px 6px 6px 6px;
  column-width: 12px;
  cursor:pointer;
  line-height: 0.6;
  transition: background-color .2s ease-in;
  }

  .button1 {
  border: 0px solid #000000;
  background-color: rgb(169, 169, 150);
  padding: 10px 10px;
  column-width: 12px;
  cursor:pointer;
  border-radius: 70%;
  transition: background-color .2s ease-in; 
}

.tg .square:hover {
    background-color: black;    
}

.tg .button1:hover {
    background-color: red;    
}

.tg .button1:onclick {
    background-color: black;
}
</style>

 <h1>Enemy board</h1>
  <h4>Hits remaining: 14</h4>
  <table class="tg">
    <tr>
      <th class="tg-s268"></th>
      <th class="tg-s268">1</th>
      <th class="tg-s268">2</th>
      <th class="tg-s268">3</th>
      <th class="tg-s268">4</th>
      <th class="tg-s268">5</th>
      <th class="tg-s268">6</th>
      <th class="tg-s268">7</th>
      <th class="tg-s268">8</th>
      <th class="tg-s268">9</th>
      <th class="tg-s268">10</th>
      <th class="tg-s268">11</th>
      <th class="tg-s268">12</th>
    </tr>
    <tr>
      <td class="col-format"><b>A</b></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
    <tr>
      <td class="col-format"><b>B</b></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
    </tr>
    <tr>
      <td class="col-format"><b>C</b></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
    </tr>
    <tr>
      <td class="col-format"><b>D</b></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
    </tr>
    <tr>
      <td class="col-format"><b>E</b></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
    </tr>
    <tr>
      <td class="col-format"><b>F</b></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
    </tr>
    <tr>
      <td class="col-format"><b>G</b></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
    </tr>
    <tr>
      <td class="col-format"><b>H</b></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
    </tr>
    <tr>
      <td class="col-format"><b>I</b></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
    </tr>
    <tr>
      <td class="col-format"><b>J</b></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
    </tr>
    <tr>
      <td class="col-format"><b>K</b></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
    </tr>
    <tr>
      <td class="col-format"><b>L</b></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
      <td class="square" name="btn" value="none"></td>
    </tr>
  </table>

<!-- /* enemy board above, home board below */ -->

  <h1>Home board</h1>
  <h4>Hits remaining: 14</h4>
  <table class="tg">
    <tr>
      <th class="tg-s268"></th>
      <th class="tg-s268">1</th>
      <th class="tg-s268">2</th>
      <th class="tg-s268">3</th>
      <th class="tg-s268">4</th>
      <th class="tg-s268">5</th>
      <th class="tg-s268">6</th>
      <th class="tg-s268">7</th>
      <th class="tg-s268">8</th>
      <th class="tg-s268">9</th>
      <th class="tg-s268">10</th>
      <th class="tg-s268">11</th>
      <th class="tg-s268">12</th>
    </tr>
    <tr>
      <td class="col-format"><b>A</b></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
    </tr>
    <tr>
      <td class="col-format"><b>B</b></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
    </tr>
    <tr>
      <td class="col-format"><b>C</b></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
    </tr>
    <tr>
      <td class="col-format"><b>D</b></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
    </tr>
    <tr>
      <td class="col-format"><b>E</b></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
    </tr>
    <tr>
      <td class="col-format"><b>F</b></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
    </tr>
    <tr>
      <td class="col-format"><b>G</b></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
    </tr>
    <tr>
      <td class="col-format"><b>H</b></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
    </tr>
    <tr>
      <td class="col-format"><b>I</b></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
    </tr>
    <tr>
      <td class="col-format"><b>J</b></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
    </tr>
    <tr>
      <td class="col-format"><b>K</b></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
    </tr>
    <tr>
      <td class="col-format"><b>L</b></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
      <td input class="button1" type="btn" value="test"></td>
    </tr>
  </table>
<br><br>
Place ships in this order: Destroyer (2 holes), submarine (3), battleship (4), carrier (5). Diagonal alignments are illegal.
</body>



<!-- <% %>
<% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %><% %> -->



<script>
  function myFunction() {
    document.getElementByClassName("button1").style.color = "black";
  }
</script>


<!-- End of 12 home table -->
<!-- Green for 2, blue for 3, yellow for 4, purple for 5. -->




<!-- 
